
html {
    scroll-behavior: smooth;
}

:root {
    --white: #eeecea;
    --yellow: #F6BD60;
    --black: #2D2D34;
    --typewriterSpeed: 1s;
}

body {
    margin: 0%;
    font-family: Helvetica, sans-serif, monospace;
    background-color: var(--black);
}

.core-container {
    display: flex;
    justify-content: center;
}

.core {
    padding-top: 3rem;
    width: 60rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 7.5rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.nav-left {
    background-color: var(--yellow);
    height: 5rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
}

.nav-right h1{
    color: var(--yellow);
    font-size: 124px;
    font-weight: bold;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem;
    background-color: var(--yellow);
    border-radius: 2rem;
}

.login-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 2rem;
}

.error-message {
    color: rgb(190, 14, 14);
    font-weight: bold;
    margin-top: 0.5rem
}

.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 20rem;
}

.input-label {
    font-size: 1.25rem;
    color: var(--black);
    margin-bottom: 0.5rem;
}

.input-field {
    border: none;
    border-bottom: 0.25rem solid var(--black);
    background-color: var(--yellow);
    outline: none;
    height: 2rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.1s ease-in-out;
}

.input-field:focus {
    background-color: var(--black);
    color: var(--white);
}

input:not(:placeholder-shown) {
    background-color: var(--black);
    color: var(--white);
}

textarea {
    overflow-y: scroll;
    resize: none;
    min-height: 50px;
    max-height: 100px
}

textarea:not(:placeholder-shown) {
    background-color: var(--black);
    color: var(--white);
}

.submit-button {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    background-color: var(--yellow);
    border: 2px solid var(--black);
    color: var(--black);
}

.submit-button:hover {
    background-color: var(--black);
    color: var(--white);
}

.submit-button:active {
    background-color: #1d1d22;
    color: var(--white);
}

/* Log Book */
.title-name {
    font-size: 2rem;
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: 2rem;
}

.logout-button {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    background-color: var(--yellow);
    color: var(--black);
    margin-top: 2rem;
}

.logout-button:hover {
    background-color: var(--black);
    border: 2px solid var(--yellow);
    color: var(--white);
}

.logout-button:active {
    background-color: #1d1d22;
    border: 2px solid var(--yellow);
    color: var(--white);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.success-edit {
    color: rgb(14, 153, 26);
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem
}
